@import url(header.scss);

body{
    background-color: beige;
}
* {
    box-sizing: border-box;
    border:1px solid black;
  }
   
  .fd1 {
    display: flex;
  }
   
  /* Create three equal columns that sits next to each other */
  .fd2 {
    flex: 33.33%;
    padding: 5px;
  }
  #banner{
    align-content: center;
  }
  